form {
  // width: 420px;
  margin: 0 auto;
  &:not(.search__form) {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(161, 143, 132);
   }
 }

 input:not(input[type="range"]),
 input[type="submit"] {
   all: unset;
   padding: 15px 20px;
   border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 3px gray;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  width: 90%;
  &::placeholder {
    color: rgba(110, 110, 110, 0.7);
  }
}

input[type="submit"],
 .social__btn {
   border-radius: 5px;
   padding: 12px 20px;
   background-color: rgb(0, 0, 0) !important;
   color: white !important;
   text-align: center !important;
   cursor: pointer;
   display: block;
   border: none;
   &:focus {
     outline: none;
   }
   &:disabled {
     opacity: 0.5;
     pointer-events: none;
   }
 }