extends base


block content
    //- action 안 쓰면 브라우저가 같은 url에 post request를 보내려는 걸 앎
        //- loggedInUser도 user다 (= user model에 있는 모든 걸 template에서 사용 가능하다는 뜻)
    form(method="POST", enctype="multipart/form-data").editProfile__form
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email)
        input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
        input(placeholder="Location", name="location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            div.editProfile__password
            a(href="change-password") Change Password &rarr;